<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- The root directory holding the configuration files.
       Default: App_Data
  -->
	<add key="configurationDirectoryRoot" value="App_Data" />

	<!-- The name of the environment in which the application is running.
       Default: Development
  -->
	<add key="configurationEnvironment" value="Development" />

	<!-- The location to write log files.
       Default: App_Data/logs
  -->
	<add key="logDirectory" value="App_Data/logs" />

	<!-- The name of this instance of the application.
       Default: MarketingAutomation
  -->
	<add key="instanceName" value="MarketingAutomation" />

	<!-- Indicates whether invalid client certificates are allowed to be used with the XConnect HTTP clients.
       Default: false
  -->
	<add key="AllowInvalidClientCertificates" value="true" />

	<add key="Content.Host" value="http://demo.sc" />

	<add key="Content.EndpointUrl" value="/sitecore/api/graph/items/master/?sc_apikey={75D42F33-1A45-47D6-96A1-9FC3BD9FA3C0}" />

	<add key="Target.Host" value="https://easyjet.local"/>
</appSettings>