<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add key="Target.Host" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" value="https://channelstable.tc-nonprod.easyjet.com" />
	<!--<add key="Content.EndpointUrl" value="/sitecore/api/graph/items/master/?sc_apikey={75D42F33-1A45-47D6-96A1-9FC3BD9FA3C0}" />-->
	
</appSettings>