<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- Service endpoint URLs -->
  <add name="xconnect.collection" connectionString="https://demo.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C068C0198686C640FC754D5CF793E435138D00F6" />
    
  <!-- Database connection strings -->
  <add name="xdb.marketingautomation" connectionString="user id=marketingautomationuser;password=Test12345;data source=(local);Initial Catalog=demo_MarketingAutomation" />
  <add name="xdb.referencedata" connectionString="user id=referencedatauser;password=Test12345;data source=(local);Initial Catalog=demo_ReferenceData" />
  <add name="messaging" connectionString="user id=messaginguser;password=Test12345;data source=(local);Initial Catalog=demo_Messaging" />
</connectionStrings>