<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- Service endpoint URLs -->
	<add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="xconnect.collection" connectionString="https://demo.xconnect" />
	<add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D29D25B137E338F024181C2F714BFCE50F2BB784" />

	<!-- Database connection strings -->
	<add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="xdb.marketingautomation" connectionString="user id=marketingautomationuser;password=Test12345;data source=(local);Initial Catalog=demo_MarketingAutomation" />
	<add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="xdb.referencedata" connectionString="user id=referencedatauser;password=Test12345;data source=(local);Initial Catalog=demo_ReferenceData" />
	<add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="messaging" connectionString="user id=messaginguser;password=Test12345;data source=(local);Initial Catalog=demo_Messaging" />
</connectionStrings>