<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--<add key="configurationDirectoryRoot" value="~/App_Data" />
	<add key="configurationEnvironment" value="Development" />
	<add key="AllowInvalidClientCertificates" value="false" />-->
	<add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" 
	     key="validateCertificateThumbprint" value="D29D25B137E338F024181C2F714BFCE50F2BB784" />
</appSettings>