<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="configurationDirectoryRoot" value="~/App_Data" />
  <add key="configurationEnvironment" value="Development" />
  <add key="AllowInvalidClientCertificates" value="true" />
  <add key="validateCertificateThumbprint" value="C068C0198686C640FC754D5CF793E435138D00F6" />
</appSettings>