<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="messaging" connectionString="user id=messaginguser;password=Test12345;data source=(local);Initial Catalog=demo_Messaging" />
  <add name="xdb.processing.pools" connectionString="user id=poolsuser;password=Test12345;data source=(local);Initial Catalog=demo_Processing.Pools" />
  <add name="xdb.referencedata" connectionString="user id=referencedatauser;password=Test12345;data source=(local);Initial Catalog=demo_ReferenceData" />
  <add name="xdb.marketingautomation" connectionString="user id=marketingautomationuser;password=Test12345;data source=(local);Initial Catalog=demo_MarketingAutomation" />
  <add name="collection" connectionString="user id=collectionuser;password=Test12345;data source=(local);Initial Catalog=demo_Xdb.Collection.ShardMapManager" />
  <add name="solrCore" connectionString="https://localhost:8983/solr/demo_xdb" />
</connectionStrings>