<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--<add key="configurationDirectoryRoot" value="App_Data" />
	<add key="configurationEnvironment" value="Development" />
	<add key="instanceName" value="XConnectIndexer" />
	<add key="modelsPath" value="App_Data/Models" />-->
</appSettings>