<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="collection" connectionString="user id=collectionuser;password=Test12345;data source=(local);Initial Catalog=demo_Xdb.Collection.ShardMapManager" />
  <add name="solrCore" connectionString="https://localhost:8983/solr/demo_xdb" />
  <!--<add name="collection.search" connectionString="serviceUrl=https://[service].search.windows.net/;indexName=[index name];apiKey=[API Key]"/>--> 
    
</connectionStrings>