<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="collection" connectionString="user id=collectionuser;password=Test12345;data source=(local);Initial Catalog=demo_Xdb.Collection.ShardMapManager" />
	<add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="solrCore" connectionString="https://localhost:8983/solr/demo_xdb" />
</connectionStrings>